.Dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: thin dashed #c2c2c2;
  background: #fcfcfc;
  min-width: 225px;
  max-width: 800px;
  min-height: 120px;
  border-radius: 5px;
}

.Dropzone-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 12px;
  padding: 16px;
}

.Dropzone-img {
  margin: 5px;
  width: 100px;
  height: 100px;
  border: thin solid rgba(64, 64, 64, 0.15);
  border-radius: 5px;
  object-fit: cover;
}
